.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  
    background-color:#fffc47;
    border-radius:50px;
    display:inline-block;
    cursor:pointer;
    color:#ffa1db;
    font-family:Arial;
    font-size:25px;
    padding:16px 31px;
    border: 12px solid #ffa1db
    
  
  }

  .button:hover {
    background-color:#5cbf2a;
  }

